node-red-related/calibration-flows.json
[{"id":"ba705444.410d08","type":"tab","label":"Amg8833 pixels","disabled":false,"info":""},{"id":"426cf1d7.128498","type":"tab","label":"Amg8833 thermistor","disabled":false,"info":""},{"id":"c20ee4a3.a173f8","type":"tab","label":"image71","disabled":false,"info":""},{"id":"1d592552.80197b","type":"tab","label":"mlx camera","disabled":false,"info":""},{"id":"85993c60.3725b","type":"mqtt-broker","name":"pi","broker":"192.168.178.42","port":"1883","clientid":"noderedtest","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"916b00ab.f33b6","type":"serial-port","serialport":"\\COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5339c88.7333238","type":"ui_tab","name":"Grideye IR Array","icon":"dashboard","disabled":false,"hidden":false},{"id":"bda1d988.37a7a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcb19823.26ecc8","type":"ui_group","name":"Pixel values °C","tab":"5339c88.7333238","order":1,"disp":true,"width":"10","collapse":true},{"id":"a4ac80e1.bc5fe","type":"mqtt-broker","name":"Homey MQTT","broker":"192.168.1.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc911c50.8fc2d8","type":"ui_group","name":"Thermistor value","tab":"5339c88.7333238","order":3,"disp":true,"width":"6","collapse":false},{"id":"c30b7ef7.60de68","type":"ui_group","name":"activation mask","tab":"5339c88.7333238","order":4,"disp":true,"width":"10","collapse":false},{"id":"1ac12762.2395e9","type":"ui_tab","name":"Grideye_debug","icon":"dashboard","disabled":false,"hidden":false},{"id":"d91fc01f.bc096","type":"ui_group","name":"Default","tab":"1ac12762.2395e9","order":1,"disp":true,"width":"10","collapse":false},{"id":"6e1fee70.76bca","type":"ui_tab","name":"MLX32x24","icon":"dashboard","disabled":false,"hidden":false},{"id":"75b71af2.dccd04","type":"ui_tab","name":"MLX90640","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a4062bb.fbf32e","type":"ui_group","name":"Pixel image","tab":"75b71af2.dccd04","order":1,"disp":true,"width":"10","collapse":false},{"id":"b762eec3.7c9c6","type":"ui_group","name":"track debug info","tab":"5339c88.7333238","order":2,"disp":true,"width":"6","collapse":false},{"id":"db691012.268fe","type":"ui_group","name":"tmp calibration","tab":"5339c88.7333238","order":5,"disp":true,"width":"6","collapse":false},{"id":"38e2405b.c1ee8","type":"mqtt in","z":"ba705444.410d08","name":"","topic":"amg8833/pixels","qos":"0","datatype":"utf8","broker":"85993c60.3725b","x":100,"y":200,"wires":[["986e09b2.e77ec8","bdb36e4.5bd779"]]},{"id":"986e09b2.e77ec8","type":"csv","z":"ba705444.410d08","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":310,"y":160,"wires":[["33dbf262.f4bf9e"]]},{"id":"d6ac79b3.8bd658","type":"debug","z":"ba705444.410d08","name":"pixels","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":100,"wires":[]},{"id":"a0946dd8.f3124","type":"inject","z":"ba705444.410d08","name":"dummy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"amg8833/pixels","payload":"4928,5056,6336,6400,5696,5056,4992,4928,4800,5760,6784,6272,6720,5312,5056,4992,4992,6784,7168,7168,6912,5568,5056,4864,4864,6848,7360,7360,6848,5248,5120,5056,5056,6400,7360,7360,6464,5184,4992,5056,6656,7040,7424,7232,6848,5632,5376,5056,6656,6912,7168,7168,6912,6784,6592,5760,6528,6848,6912,6912,6784,6720,6336,6336","payloadType":"str","x":90,"y":140,"wires":[["986e09b2.e77ec8"]]},{"id":"2181f537.7307c2","type":"comment","z":"ba705444.410d08","name":"样本","info":"\"4928,5056,6336,6400,5696,5056,4992,4928,4800,5760,6784,6272,6720,5312,5056,4992,4992,6784,7168,7168,6912,5568,5056,4864,4864,6848,7360,7360,6848,5248,5120,5056,5056,6400,7360,7360,6464,5184,4992,5056,6656,7040,7424,7232,6848,5632,5376,5056,6656,6912,7168,7168,6912,6784,6592,5760,6528,6848,6912,6912,6784,6720,6336,6336\"\n","x":70,"y":100,"wires":[]},{"id":"10b8ad6b.f00bc3","type":"jimp-image","z":"ba705444.410d08","name":"","data":"{\"w\":8,\"h\":8,\"background\":\"white\"}","dataType":"json","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"image","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":290,"y":280,"wires":[["58d023eb.3e1714"]]},{"id":"33dbf262.f4bf9e","type":"function","z":"ba705444.410d08","name":"object to 2dArray","func":"val_arr = Object.values(msg.payload[0]);\nrows = 8;\ncols = 8;\nvar new_arr = [];\nfor (var r = 0;r<rows;r++){\n    var row=[];\n    for (var c=0;c<cols;c++){\n        var i = r*cols + c;\n        row.push(val_arr[i]);\n    }\n    new_arr.push(row);\n}\nmsg.payload=new_arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[["d6ac79b3.8bd658","66c7a684.aab17"]]},{"id":"66c7a684.aab17","type":"change","z":"ba705444.410d08","name":"setup default value","rules":[{"t":"set","p":"convert_factor","pt":"msg","to":"256","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pixels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["10b8ad6b.f00bc3"]]},{"id":"88759b4d.d98488","type":"template","z":"ba705444.410d08","name":"forUI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"160px\" height=\"160px\" src=\"{{{payload}}}\">","output":"str","x":810,"y":440,"wires":[["38dbba27.2f5c4e"]]},{"id":"d21a6b2d.78ed7","type":"jimp-image","z":"ba705444.410d08","name":"jimp2base64","data":"image","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":810,"y":400,"wires":[["88759b4d.d98488"]]},{"id":"38dbba27.2f5c4e","type":"ui_template","z":"ba705444.410d08","group":"dcb19823.26ecc8","name":"ui template","order":1,"width":"4","height":"4","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":480,"wires":[[]]},{"id":"e97a60be.118d","type":"ui_slider","z":"ba705444.410d08","name":"max","label":"max {{value}}°C","tooltip":"","group":"dcb19823.26ecc8","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"maxT","topicType":"str","min":0,"max":"100","step":"2","x":290,"y":400,"wires":[["58d023eb.3e1714"]]},{"id":"b65f6e5e.f8b7","type":"ui_slider","z":"ba705444.410d08","name":"min","label":"min {{value}}°C","tooltip":"","group":"dcb19823.26ecc8","order":2,"width":"5","height":"1","passthru":true,"outs":"all","topic":"minT","topicType":"str","min":0,"max":"100","step":"2","x":290,"y":340,"wires":[["58d023eb.3e1714"]]},{"id":"58d023eb.3e1714","type":"join","z":"ba705444.410d08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":320,"wires":[["3b2be536.d52f3a","4789bf1b.5418d"]]},{"id":"3b2be536.d52f3a","type":"debug","z":"ba705444.410d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"4cec9a28.61337c","type":"inject","z":"ba705444.410d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"minT","payload":"16","payloadType":"num","x":140,"y":340,"wires":[["b65f6e5e.f8b7"]]},{"id":"d67a219e.c6dde8","type":"inject","z":"ba705444.410d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"maxT","payload":"28","payloadType":"num","x":140,"y":400,"wires":[["e97a60be.118d"]]},{"id":"4789bf1b.5418d","type":"function","z":"ba705444.410d08","name":"colorP","func":"const minimum = msg.payload.minT * msg.convert_factor;\nconst maximum = msg.payload.maxT * msg.convert_factor; \nconst data = msg.payload.pixels;\nconst img = msg.image;\nvar buf = Buffer.from([255,255,255,255]); //temp buffer object for rgbaToInt\nmsg.buf = buf;\nfor(let y = 0; y < data.length; y++){\n    let row = data[y];\n    for(let x = 0; x < row.length; x++){\n        let temp = row[x];\n        let ratio = (temp-minimum)/(maximum-minimum);\n        ratio = Math.min(Math.max(0,ratio),1);\n        let c = hsl_to_rgb((1-ratio)*240,100,50); //lower hue value is warmer\n        img.setPixelColor(c, x, y);\n    }\n}\nreturn msg\n\nfunction hsl_to_rgb(h, s, l) {\n  // Must be fractions of 1\n  s /= 100;\n  l /= 100;\n\n  let c = (1 - Math.abs(2 * l - 1)) * s,\n      x = c * (1 - Math.abs((h / 60) % 2 - 1)),\n      m = l - c/2,\n      r = 0,\n      g = 0,\n      b = 0;\n  if (0 <= h && h < 60) {\n    r = c; g = x; b = 0;  \n  } else if (60 <= h && h < 120) {\n    r = x; g = c; b = 0;\n  } else if (120 <= h && h < 180) {\n    r = 0; g = c; b = x;\n  } else if (180 <= h && h < 240) {\n    r = 0; g = x; b = c;\n  } else if (240 <= h && h < 300) {\n    r = x; g = 0; b = c;\n  } else if (300 <= h && h < 360) {\n    r = c; g = 0; b = x;\n  }\n  r = Math.round((r + m) * 255);\n  g = Math.round((g + m) * 255);\n  b = Math.round((b + m) * 255);\n  return rgbaToInt(r, g, b, 255);\n}\n\nfunction rgbaToInt(red,green,blue,alpha){\n    \n    var r = red & 0xFF;\n    var g = green & 0xFF;\n    var b = blue & 0xFF;\n    var a = alpha & 0xFF;\n    \n    buf[0] = r;\n    buf[1] = g;\n    buf[2] = b;\n    buf[3] = a;\n    return buf.readUInt32BE(0);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":400,"wires":[["3ddfd594.5f9ada"]]},{"id":"3ddfd594.5f9ada","type":"image viewer","z":"ba705444.410d08","name":"","width":"90","data":"image","dataType":"msg","x":630,"y":400,"wires":[["d21a6b2d.78ed7"]]},{"id":"503d13ba.7a982c","type":"mqtt in","z":"426cf1d7.128498","name":"","topic":"amg8833/thermistor","qos":"0","datatype":"auto","broker":"85993c60.3725b","x":170,"y":200,"wires":[["1e28cfa2.24b4c"]]},{"id":"57cabc9f.342944","type":"debug","z":"426cf1d7.128498","name":"thms","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"float","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"d447d9a7.8ca2f8","type":"ui_gauge","z":"426cf1d7.128498","name":"","group":"fc911c50.8fc2d8","order":0,"width":0,"height":0,"gtype":"gage","title":"thermistor","label":"","format":"{{msg.float}} °C","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":140,"wires":[]},{"id":"8697e20a.aef5a","type":"inject","z":"426cf1d7.128498","name":"dummythms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"amg8833/thermistor","payload":"5500","payloadType":"num","x":170,"y":140,"wires":[["1e28cfa2.24b4c"]]},{"id":"481e2436.544f7c","type":"function","z":"426cf1d7.128498","name":"convert256","func":"var data;\ndata= (msg.payload).toFixed(2);\nmsg.float=data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["57cabc9f.342944","d447d9a7.8ca2f8","2a06e6de.008baa"]]},{"id":"1e28cfa2.24b4c","type":"range","z":"426cf1d7.128498","minin":"1","maxin":"25600","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":360,"y":140,"wires":[["481e2436.544f7c"]]},{"id":"2a06e6de.008baa","type":"ui_chart","z":"426cf1d7.128498","name":"","group":"fc911c50.8fc2d8","order":3,"width":0,"height":0,"label":"thermistor value","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":100,"wires":[[]]},{"id":"935fc6f5.ac14c8","type":"file","z":"ba705444.410d08","d":true,"name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":430,"y":800,"wires":[[]]},{"id":"32a9245e.325f5c","type":"mqtt in","z":"426cf1d7.128498","d":true,"name":"","topic":"amg8833/mask","qos":"0","datatype":"auto","broker":"85993c60.3725b","x":180,"y":360,"wires":[["8b8e3e4e.1cc988"]]},{"id":"dfd2b4f7.8ec198","type":"debug","z":"426cf1d7.128498","name":"mask","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"8b8e3e4e.1cc988","type":"csv","z":"426cf1d7.128498","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":360,"wires":[["5527e342.bef32c"]]},{"id":"5527e342.bef32c","type":"function","z":"426cf1d7.128498","name":"object to 2dArray","func":"val_arr = Object.values(msg.payload[0]);\nrows = 8;\ncols = 8;\nvar new_arr = [];\nfor (var r = 0;r<rows;r++){\n    var row=[];\n    for (var c=0;c<cols;c++){\n        var i = r*cols + c;\n        row.push(val_arr[i]);\n    }\n    new_arr.push(row);\n}\nmsg.payload=new_arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":360,"wires":[["dfd2b4f7.8ec198","eb5984e8.4f44d8"]]},{"id":"eb5984e8.4f44d8","type":"jimp-image","z":"426cf1d7.128498","name":"","data":"{\"w\":8,\"h\":8,\"background\":\"white\"}","dataType":"json","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"image","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":450,"y":440,"wires":[["f8a353f2.4b9e5"]]},{"id":"f8a353f2.4b9e5","type":"function","z":"426cf1d7.128498","name":"color","func":"const data = msg.payload;\nconst img = msg.image;\nvar buf = Buffer.from([255,255,255,255]); //temp buffer object for rgbaToInt\n\nfor(let y = 0; y < data.length; y++){\n    let row = data[y];\n    for(let x = 0; x < row.length; x++){\n        let temp = row[x];\n        let c = hsl_to_rgb((1-temp)*240,100,50); //lower hue value is warmer\n        img.setPixelColor(c, x, y);\n    }\n}\nreturn msg\n\nfunction hsl_to_rgb(h, s, l) {\n  // Must be fractions of 1\n  s /= 100;\n  l /= 100;\n\n  let c = (1 - Math.abs(2 * l - 1)) * s,\n      x = c * (1 - Math.abs((h / 60) % 2 - 1)),\n      m = l - c/2,\n      r = 0,\n      g = 0,\n      b = 0;\n  if (0 <= h && h < 60) {\n    r = c; g = x; b = 0;  \n  } else if (60 <= h && h < 120) {\n    r = x; g = c; b = 0;\n  } else if (120 <= h && h < 180) {\n    r = 0; g = c; b = x;\n  } else if (180 <= h && h < 240) {\n    r = 0; g = x; b = c;\n  } else if (240 <= h && h < 300) {\n    r = x; g = 0; b = c;\n  } else if (300 <= h && h < 360) {\n    r = c; g = 0; b = x;\n  }\n  r = Math.round((r + m) * 255);\n  g = Math.round((g + m) * 255);\n  b = Math.round((b + m) * 255);\n  return rgbaToInt(r, g, b, 255);\n}\n\nfunction rgbaToInt(red,green,blue,alpha){\n    \n    var r = red & 0xFF;\n    var g = green & 0xFF;\n    var b = blue & 0xFF;\n    var a = alpha & 0xFF;\n    \n    buf[0] = r;\n    buf[1] = g;\n    buf[2] = b;\n    buf[3] = a;\n    return buf.readUInt32BE(0);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":440,"wires":[["9a3a257a.8bb4"]]},{"id":"9a3a257a.8bb4","type":"image viewer","z":"426cf1d7.128498","name":"","width":"90","data":"image","dataType":"msg","x":730,"y":440,"wires":[["9c12bb52.887d1"]]},{"id":"1905a107.b46587","type":"template","z":"426cf1d7.128498","name":"forUI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"480px\" height=\"480px\" src=\"{{{payload}}}\">","output":"str","x":870,"y":480,"wires":[["7536cd8.e3c8134"]]},{"id":"9c12bb52.887d1","type":"jimp-image","z":"426cf1d7.128498","name":"jimp2base64","data":"image","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":870,"y":440,"wires":[["1905a107.b46587"]]},{"id":"7536cd8.e3c8134","type":"ui_template","z":"426cf1d7.128498","d":true,"group":"c30b7ef7.60de68","name":"ui template","order":1,"width":"10","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":540,"wires":[[]]},{"id":"bdb36e4.5bd779","type":"link out","z":"ba705444.410d08","name":"","links":["5cb54a1a.a17da4","f18b674e.8e9448"],"x":235,"y":200,"wires":[]},{"id":"f18b674e.8e9448","type":"link in","z":"ba705444.410d08","name":"","links":["bdb36e4.5bd779","b0eff913.baa9d8","ee871e2e.a6078"],"x":55,"y":580,"wires":[["8367e17a.7271c","a9037e54.47ea9"]]},{"id":"620c45ef.a9cc6c","type":"template","z":"ba705444.410d08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/var/homeshare/amg8833data/{{year}}-{{month}}-{{day}}/event{{year}}-{{month}}-{{day}}-{{hours}}-{{mins}}.txt","output":"str","x":550,"y":540,"wires":[["d2709e08.eee6e","726d17d1.2ac628"]]},{"id":"13466d31.46bf33","type":"debug","z":"ba705444.410d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":760,"wires":[]},{"id":"a9037e54.47ea9","type":"trigger","z":"ba705444.410d08","name":"","op1":"","op2":"","op1type":"date","op2type":"nul","duration":"250","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":210,"y":540,"wires":[["8730850b.525af8"]]},{"id":"cd0bf0cc.4cf3c","type":"join","z":"ba705444.410d08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":660,"wires":[["5fae907f.862f2"]]},{"id":"726d17d1.2ac628","type":"change","z":"ba705444.410d08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"filename","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[["cd0bf0cc.4cf3c"]]},{"id":"d2709e08.eee6e","type":"debug","z":"ba705444.410d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"5fae907f.862f2","type":"change","z":"ba705444.410d08","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.pixels","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":760,"wires":[["13466d31.46bf33","935fc6f5.ac14c8"]]},{"id":"8367e17a.7271c","type":"change","z":"ba705444.410d08","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pixels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":600,"wires":[["9c61c802.4d0c98"]]},{"id":"8730850b.525af8","type":"function","z":"ba705444.410d08","name":"timeConvert","func":"timestamp = msg.payload - 6*3600*1000\nvar dt = new Date(timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":540,"wires":[["620c45ef.a9cc6c"]]},{"id":"9c61c802.4d0c98","type":"delay","z":"ba705444.410d08","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":680,"wires":[["cd0bf0cc.4cf3c"]]},{"id":"4d1a415a.08182","type":"mqtt in","z":"c20ee4a3.a173f8","name":"","topic":"amg8833/image71","qos":"0","datatype":"utf8","broker":"85993c60.3725b","x":130,"y":100,"wires":[["3632d6fa.d631aa"]]},{"id":"3632d6fa.d631aa","type":"csv","z":"c20ee4a3.a173f8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":310,"y":180,"wires":[["5c4db88b.6b5298","22b59e18.9d9e52"]]},{"id":"e363d530.b39a38","type":"debug","z":"c20ee4a3.a173f8","name":"pixels","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"6dd0af83.ba116","type":"jimp-image","z":"c20ee4a3.a173f8","name":"","data":"{\"w\":71,\"h\":71,\"background\":\"white\"}","dataType":"json","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"image","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":290,"y":300,"wires":[["173f5a4f.722116"]]},{"id":"5c4db88b.6b5298","type":"function","z":"c20ee4a3.a173f8","name":"object to 2dArray","func":"val_arr = Object.values(msg.payload[0]);\nrows = 71;\ncols = 71;\nvar new_arr = [];\nfor (var r = 0;r<rows;r++){\n    var row=[];\n    for (var c=0;c<cols;c++){\n        var i = r*cols + c;\n        row.push(val_arr[i]);\n    }\n    new_arr.push(row);\n}\nmsg.payload=new_arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":180,"wires":[["e363d530.b39a38","ce92edfe.51316"]]},{"id":"ce92edfe.51316","type":"change","z":"c20ee4a3.a173f8","name":"setup default value","rules":[{"t":"set","p":"convert_factor","pt":"msg","to":"256","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pixels","tot":"str"},{"t":"delete","p":"columns","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":180,"wires":[["6dd0af83.ba116"]]},{"id":"446279ae.366888","type":"template","z":"c20ee4a3.a173f8","name":"forUI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"240px\" height=\"240px\" src=\"{{{payload}}}\">","output":"str","x":830,"y":440,"wires":[["863c39b0.c13428"]]},{"id":"1a7dd721.ff8e59","type":"jimp-image","z":"c20ee4a3.a173f8","name":"jimp2base64","data":"image","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":830,"y":400,"wires":[["446279ae.366888"]]},{"id":"863c39b0.c13428","type":"ui_template","z":"c20ee4a3.a173f8","d":true,"group":"c30b7ef7.60de68","name":"ui template","order":1,"width":"10","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":850,"y":480,"wires":[[]]},{"id":"ca058767.bf2be8","type":"function","z":"c20ee4a3.a173f8","d":true,"name":"colorP","func":"//const minimum = msg.payload.minT * msg.convert_factor;\n//const maximum = msg.payload.maxT * msg.convert_factor; \nconst minimum = 0;\nconst maximum = 1;\nconst data = msg.payload.pixels;\nconst img = msg.image;\nvar buf = Buffer.from([255,255,255,255]); //temp buffer object for rgbaToInt\nmsg.buf = buf;\nfor(let y = 0; y < data.length; y++){\n    let row = data[y];\n    for(let x = 0; x < row.length; x++){\n        let temp = row[x];\n        let ratio = (temp-minimum)/(maximum-minimum);\n        ratio = Math.min(Math.max(0,ratio),1);\n        let c = hsl_to_rgb((1-ratio)*240,100,50); //lower hue value is warmer\n        img.setPixelColor(c, x, y);\n    }\n}\nreturn msg\n\nfunction hsl_to_rgb(h, s, l) {\n  // Must be fractions of 1\n  s /= 100;\n  l /= 100;\n\n  let c = (1 - Math.abs(2 * l - 1)) * s,\n      x = c * (1 - Math.abs((h / 60) % 2 - 1)),\n      m = l - c/2,\n      r = 0,\n      g = 0,\n      b = 0;\n  if (0 <= h && h < 60) {\n    r = c; g = x; b = 0;  \n  } else if (60 <= h && h < 120) {\n    r = x; g = c; b = 0;\n  } else if (120 <= h && h < 180) {\n    r = 0; g = c; b = x;\n  } else if (180 <= h && h < 240) {\n    r = 0; g = x; b = c;\n  } else if (240 <= h && h < 300) {\n    r = x; g = 0; b = c;\n  } else if (300 <= h && h < 360) {\n    r = c; g = 0; b = x;\n  }\n  r = Math.round((r + m) * 255);\n  g = Math.round((g + m) * 255);\n  b = Math.round((b + m) * 255);\n  return rgbaToInt(r, g, b, 255);\n}\n\nfunction rgbaToInt(red,green,blue,alpha){\n    \n    var r = red & 0xFF;\n    var g = green & 0xFF;\n    var b = blue & 0xFF;\n    var a = alpha & 0xFF;\n    \n    buf[0] = r;\n    buf[1] = g;\n    buf[2] = b;\n    buf[3] = a;\n    return buf.readUInt32BE(0);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":540,"wires":[[]]},{"id":"f35fae08.7d5c8","type":"image viewer","z":"c20ee4a3.a173f8","name":"","width":"90","data":"image","dataType":"msg","x":650,"y":400,"wires":[["1a7dd721.ff8e59"]]},{"id":"22b59e18.9d9e52","type":"debug","z":"c20ee4a3.a173f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"446079e7.de09b8","type":"ui_slider","z":"c20ee4a3.a173f8","d":true,"name":"max","label":"max {{value}}°C","tooltip":"","group":"c30b7ef7.60de68","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"maxT","topicType":"str","min":0,"max":"100","step":"0.25","x":230,"y":440,"wires":[[]]},{"id":"306596cc.700eba","type":"ui_slider","z":"c20ee4a3.a173f8","d":true,"name":"min","label":"min {{value}}°C","tooltip":"","group":"c30b7ef7.60de68","order":2,"width":"5","height":"1","passthru":true,"outs":"all","topic":"minT","topicType":"str","min":0,"max":"100","step":"0.25","x":230,"y":380,"wires":[[]]},{"id":"5c33a051.10b74","type":"inject","z":"c20ee4a3.a173f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"minT","payload":"18","payloadType":"num","x":80,"y":380,"wires":[["306596cc.700eba"]]},{"id":"6c485200.d05cec","type":"inject","z":"c20ee4a3.a173f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"maxT","payload":"28","payloadType":"num","x":80,"y":440,"wires":[["446079e7.de09b8"]]},{"id":"173f5a4f.722116","type":"join","z":"c20ee4a3.a173f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":400,"wires":[["20a95c15.5cbcbc"]]},{"id":"e767eca6.6e3fc","type":"mqtt in","z":"426cf1d7.128498","name":"","topic":"amg8833/speed","qos":"2","datatype":"auto","broker":"85993c60.3725b","x":160,"y":500,"wires":[["d55bc31e.e01338","8e3eb6ae.5ad4b8","797e4ac2.7c1cd4"]]},{"id":"d55bc31e.e01338","type":"debug","z":"426cf1d7.128498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":500,"wires":[]},{"id":"4cc50540.c502bc","type":"split","z":"426cf1d7.128498","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":640,"y":520,"wires":[[]]},{"id":"20a95c15.5cbcbc","type":"function","z":"c20ee4a3.a173f8","name":"colorbinary","func":"const data = msg.payload.pixels;\nconst img = msg.image;\nvar buf = Buffer.from([255,255,255,255]); //temp buffer object for rgbaToInt\nfor(let y = 0; y < data.length; y++){\n    let row = data[y];\n    for(let x = 0; x < row.length; x++){\n        let label = row[x];\n        let c = hsl_to_rgb(label*60,70,(label!=0)*50);\n        img.setPixelColor(c, x, y);\n    }\n}\nreturn msg\nfunction hsl_to_rgb(h, s, l) {\n  // Must be fractions of 1\n  s /= 100;\n  l /= 100;\n\n  let c = (1 - Math.abs(2 * l - 1)) * s,\n      x = c * (1 - Math.abs((h / 60) % 2 - 1)),\n      m = l - c/2,\n      r = 0,\n      g = 0,\n      b = 0;\n  if (0 <= h && h < 60) {\n    r = c; g = x; b = 0;  \n  } else if (60 <= h && h < 120) {\n    r = x; g = c; b = 0;\n  } else if (120 <= h && h < 180) {\n    r = 0; g = c; b = x;\n  } else if (180 <= h && h < 240) {\n    r = 0; g = x; b = c;\n  } else if (240 <= h && h < 300) {\n    r = x; g = 0; b = c;\n  } else if (300 <= h && h < 360) {\n    r = c; g = 0; b = x;\n  }\n  r = Math.round((r + m) * 255);\n  g = Math.round((g + m) * 255);\n  b = Math.round((b + m) * 255);\n  return rgbaToInt(r, g, b, 255);\n}\n\nfunction rgbaToInt(red,green,blue,alpha){\n    \n    var r = red & 0xFF;\n    var g = green & 0xFF;\n    var b = blue & 0xFF;\n    var a = alpha & 0xFF;\n    \n    buf[0] = r;\n    buf[1] = g;\n    buf[2] = b;\n    buf[3] = a;\n    return buf.readUInt32BE(0);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":400,"wires":[["f35fae08.7d5c8"]]},{"id":"8e3eb6ae.5ad4b8","type":"ui_text","z":"426cf1d7.128498","group":"b762eec3.7c9c6","order":1,"width":0,"height":0,"name":"","label":"process time in ms","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":560,"wires":[]},{"id":"4de5a006.56fa1","type":"debug","z":"1d592552.80197b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":200,"wires":[]},{"id":"b87649d1.dd5348","type":"mqtt in","z":"1d592552.80197b","name":"","topic":"mlx/image","qos":"1","datatype":"auto","broker":"85993c60.3725b","x":140,"y":160,"wires":[["4de5a006.56fa1","b0ee823.817168","d9439482.9a90d8"]]},{"id":"fa9e1ac.7f50ae8","type":"ui_text","z":"426cf1d7.128498","group":"b762eec3.7c9c6","order":3,"width":"4","height":"1","name":"","label":"people count","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":640,"wires":[]},{"id":"86181524.0a2b28","type":"mqtt in","z":"426cf1d7.128498","name":"","topic":"amg8833/count","qos":"2","datatype":"auto","broker":"85993c60.3725b","x":130,"y":640,"wires":[["fa9e1ac.7f50ae8"]]},{"id":"b0ee823.817168","type":"csv","z":"1d592552.80197b","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":310,"y":300,"wires":[["60c20ce2.168a04"]]},{"id":"adc40acd.f61d38","type":"debug","z":"1d592552.80197b","name":"pixels","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":240,"wires":[]},{"id":"bdbda837.307578","type":"jimp-image","z":"1d592552.80197b","name":"","data":"{\"w\":32,\"h\":24,\"background\":\"white\"}","dataType":"json","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"image","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":290,"y":420,"wires":[["46eceb3d.5ff2c4"]]},{"id":"60c20ce2.168a04","type":"function","z":"1d592552.80197b","name":"object to 2dArray","func":"val_arr = Object.values(msg.payload[0]);\nrows = 24;\ncols = 32;\nvar new_arr = [];\nfor (var r = 0;r<rows;r++){\n    var row=[];\n    for (var c=0;c<cols;c++){\n        var i = r*cols + c;\n        row.push(val_arr[i]);\n    }\n    new_arr.push(row);\n}\nmsg.payload=new_arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":300,"wires":[["adc40acd.f61d38","ede26861.4d61b8"]]},{"id":"ede26861.4d61b8","type":"change","z":"1d592552.80197b","name":"setup default value","rules":[{"t":"set","p":"convert_factor","pt":"msg","to":"256","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"pixels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["bdbda837.307578"]]},{"id":"766a21f7.1d9d9","type":"template","z":"1d592552.80197b","name":"forUI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"{{{payload}}}\">","output":"str","x":810,"y":580,"wires":[["a356c2ad.0e00d"]]},{"id":"83643232.5508c","type":"jimp-image","z":"1d592552.80197b","name":"jimp2base64","data":"image","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":810,"y":540,"wires":[["766a21f7.1d9d9"]]},{"id":"a356c2ad.0e00d","type":"ui_template","z":"1d592552.80197b","group":"3a4062bb.fbf32e","name":"ui template","order":1,"width":"8","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":620,"wires":[[]]},{"id":"1cfb8e7a.75e212","type":"ui_slider","z":"1d592552.80197b","name":"max","label":"max {{value}}°C","tooltip":"","group":"3a4062bb.fbf32e","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"maxT","topicType":"str","min":0,"max":"100","step":"2","x":290,"y":540,"wires":[["46eceb3d.5ff2c4"]]},{"id":"c44466f8.0ea778","type":"ui_slider","z":"1d592552.80197b","name":"min","label":"min {{value}}°C","tooltip":"","group":"3a4062bb.fbf32e","order":2,"width":"5","height":"1","passthru":true,"outs":"all","topic":"minT","topicType":"str","min":0,"max":"100","step":"2","x":290,"y":480,"wires":[["46eceb3d.5ff2c4"]]},{"id":"46eceb3d.5ff2c4","type":"join","z":"1d592552.80197b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":460,"wires":[["b4a6e86c.67a2d8","e424ad1b.4c9b7"]]},{"id":"b4a6e86c.67a2d8","type":"debug","z":"1d592552.80197b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":460,"wires":[]},{"id":"d25cfa40.5aa338","type":"inject","z":"1d592552.80197b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"minT","payload":"16","payloadType":"num","x":140,"y":480,"wires":[["c44466f8.0ea778"]]},{"id":"bbe003ba.7865b","type":"inject","z":"1d592552.80197b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"maxT","payload":"34","payloadType":"num","x":140,"y":540,"wires":[["1cfb8e7a.75e212"]]},{"id":"e424ad1b.4c9b7","type":"function","z":"1d592552.80197b","name":"colorP","func":"const minimum = msg.payload.minT;//* msg.convert_factor;\nconst maximum = msg.payload.maxT;//* msg.convert_factor; \nconst data = msg.payload.pixels;\nconst img = msg.image;\nvar buf = Buffer.from([255,255,255,255]); //temp buffer object for rgbaToInt\nmsg.buf = buf;\nfor(let y = 0; y < data.length; y++){\n    let row = data[y];\n    for(let x = 0; x < row.length; x++){\n        let temp = row[x];\n        let ratio = (temp-minimum)/(maximum-minimum);\n        ratio = Math.min(Math.max(0,ratio),1);\n        let c = hsl_to_rgb((1-ratio)*240,100,50); //lower hue value is warmer\n        img.setPixelColor(c, x, y);\n    }\n}\nreturn msg\n\nfunction hsl_to_rgb(h, s, l) {\n  // Must be fractions of 1\n  s /= 100;\n  l /= 100;\n\n  let c = (1 - Math.abs(2 * l - 1)) * s,\n      x = c * (1 - Math.abs((h / 60) % 2 - 1)),\n      m = l - c/2,\n      r = 0,\n      g = 0,\n      b = 0;\n  if (0 <= h && h < 60) {\n    r = c; g = x; b = 0;  \n  } else if (60 <= h && h < 120) {\n    r = x; g = c; b = 0;\n  } else if (120 <= h && h < 180) {\n    r = 0; g = c; b = x;\n  } else if (180 <= h && h < 240) {\n    r = 0; g = x; b = c;\n  } else if (240 <= h && h < 300) {\n    r = x; g = 0; b = c;\n  } else if (300 <= h && h < 360) {\n    r = c; g = 0; b = x;\n  }\n  r = Math.round((r + m) * 255);\n  g = Math.round((g + m) * 255);\n  b = Math.round((b + m) * 255);\n  return rgbaToInt(r, g, b, 255);\n}\n\nfunction rgbaToInt(red,green,blue,alpha){\n    \n    var r = red & 0xFF;\n    var g = green & 0xFF;\n    var b = blue & 0xFF;\n    var a = alpha & 0xFF;\n    \n    buf[0] = r;\n    buf[1] = g;\n    buf[2] = b;\n    buf[3] = a;\n    return buf.readUInt32BE(0);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":540,"wires":[["1de98885.3c2a67"]]},{"id":"1de98885.3c2a67","type":"image viewer","z":"1d592552.80197b","name":"","width":"90","data":"image","dataType":"msg","x":630,"y":540,"wires":[["83643232.5508c"]]},{"id":"e2380f75.73903","type":"file","z":"1d592552.80197b","d":true,"name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1410,"y":660,"wires":[[]]},{"id":"b7d2040e.279e18","type":"link in","z":"1d592552.80197b","name":"","links":["d9439482.9a90d8"],"x":1035,"y":440,"wires":[["9a3701e.17a9b","d16a14e8.b77c78"]]},{"id":"d091550b.2657f8","type":"template","z":"1d592552.80197b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/var/homeshare/mlx90640data/{{year}}-{{month}}-{{day}}/mlx{{year}}-{{month}}-{{day}}-{{hours}}-{{mins}}.txt","output":"str","x":1530,"y":400,"wires":[["b0af7984.957998","5b67e548.71120c"]]},{"id":"75bf6026.8246","type":"debug","z":"1d592552.80197b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":620,"wires":[]},{"id":"d16a14e8.b77c78","type":"trigger","z":"1d592552.80197b","name":"","op1":"","op2":"","op1type":"date","op2type":"nul","duration":"250","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1190,"y":400,"wires":[["f4ba2095.168c3"]]},{"id":"29ebb11b.53435e","type":"join","z":"1d592552.80197b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1690,"y":520,"wires":[["b79cacb8.f0eeb"]]},{"id":"5b67e548.71120c","type":"change","z":"1d592552.80197b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"filename","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":480,"wires":[["29ebb11b.53435e"]]},{"id":"b0af7984.957998","type":"debug","z":"1d592552.80197b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1710,"y":400,"wires":[]},{"id":"b79cacb8.f0eeb","type":"change","z":"1d592552.80197b","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload.filename","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.pixels","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":620,"wires":[["75bf6026.8246","e2380f75.73903"]]},{"id":"9a3701e.17a9b","type":"change","z":"1d592552.80197b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pixels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":460,"wires":[["687a1f8.3697ee"]]},{"id":"f4ba2095.168c3","type":"function","z":"1d592552.80197b","name":"timeConvert","func":"timestamp = msg.payload - 6*3600*1000\nvar dt = new Date(timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":400,"wires":[["d091550b.2657f8"]]},{"id":"687a1f8.3697ee","type":"delay","z":"1d592552.80197b","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1530,"y":540,"wires":[["29ebb11b.53435e"]]},{"id":"d9439482.9a90d8","type":"link out","z":"1d592552.80197b","name":"","links":["b7d2040e.279e18"],"x":165,"y":260,"wires":[]},{"id":"cb470ae5.d46008","type":"ui_button","z":"426cf1d7.128498","name":"","group":"b762eec3.7c9c6","order":4,"width":0,"height":0,"passthru":false,"label":"reset count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":700,"wires":[["c158164d.3046a8"]]},{"id":"c158164d.3046a8","type":"mqtt out","z":"426cf1d7.128498","name":"","topic":"amg8833/reset","qos":"1","retain":"false","broker":"85993c60.3725b","x":370,"y":700,"wires":[]},{"id":"797e4ac2.7c1cd4","type":"ui_chart","z":"426cf1d7.128498","name":"","group":"b762eec3.7c9c6","order":2,"width":0,"height":0,"label":"process time ms","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":360,"y":600,"wires":[[]]},{"id":"eb67c4e1.2a0d68","type":"ui_slider","z":"426cf1d7.128498","name":"","label":"threshold","tooltip":"","group":"db691012.268fe","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"14","max":"30","step":1,"x":130,"y":780,"wires":[["726f864.6a17178"]]},{"id":"726f864.6a17178","type":"mqtt out","z":"426cf1d7.128498","name":"","topic":"dht11/room_temp","qos":"","retain":"","broker":"85993c60.3725b","x":320,"y":780,"wires":[]},{"id":"931098ff.109418","type":"ui_gauge","z":"426cf1d7.128498","name":"","group":"db691012.268fe","order":5,"width":0,"height":0,"gtype":"gage","title":"threshold","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":840,"wires":[]},{"id":"9ed82928.b7bb68","type":"mqtt in","z":"426cf1d7.128498","name":"","topic":"dht11/thres","qos":"2","datatype":"auto","broker":"85993c60.3725b","x":120,"y":840,"wires":[["931098ff.109418"]]},{"id":"8c61c20d.24014","type":"mqtt in","z":"426cf1d7.128498","name":"","topic":"dht11/time","qos":"2","datatype":"auto","broker":"85993c60.3725b","x":110,"y":920,"wires":[["d3d0030b.267a5"]]},{"id":"d3d0030b.267a5","type":"ui_text","z":"426cf1d7.128498","group":"db691012.268fe","order":0,"width":0,"height":0,"name":"","label":"calibration time","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":920,"wires":[]}]